# Python: Essential Containers

Let’s now delve further into the tools of the Python language. Python comes with a
suite of built-in data containers. These are data types that are used to hold many
other variables. Much like you might place books on a bookshelf, you can stick integers
or floats or strings into these containers. Each container is represented by its own
type and has its own unique properties that define it. Major containers that Python
supports are list, tuple, set, frozenset, and dict.

A data type is <em><strong>mutable</strong></em> if its value—also known as its state—is allowed to change after
it has been created. On the other hand, a data type is <em><strong>immutable</strong></em> if its values are static
and unchangeable once it is created.

With immutable data you can create new variables
based on existing values, but you cannot actually alter the original values. All of
the data types we have dealt with so far—`int`, `float`, `bool`, and `str`—are immutable.

## Lists
Lists in Python are mutable, one-dimensional, ordered containers whose elements may be any
Python objects.

In [ ]:
[6, 28]

In [ ]:
[1e3, -2, "I am in a list."]

Anything can go into a list, including other lists!

In [ ]:
[[1.0, 0.0], [0.0, 1.0]]

You can use the `+` operator on a list.  You can also append to lists 
in-place using the `append()` or `extend()` method, which adds a single
element to the end. `+=` works also.

In [17]:
[1, 1] + [2, 3, 5] + [8]

[1, 1, 2, 3, 5, 8]

In [35]:
fib = [1, 1, 2, 3, 5, 8]

In [36]:
fib.append(13)     # Try two arguments (13,3)
fib

[1, 1, 2, 3, 5, 8, 13]

In [37]:
fib.insert(3,100)
fib

[1, 1, 2, 100, 3, 5, 8, 13]

In [38]:
fib.extend([21, 34, 55])
fib

[1, 1, 2, 100, 3, 5, 8, 13, 21, 34, 55]

In [39]:
fib += [89, 144]
fib

[1, 1, 2, 100, 3, 5, 8, 13, 21, 34, 55, 89, 144]

List indexing is exactly the same as string indexing, but instead of returning strings it
returns new lists. Here is how to pull every other element out of a list:

In [40]:
fib[::2]

[1, 2, 3, 8, 21, 55, 144]

You can set or delete elements in a
list. This is because lists are mutable, whereas strings are not,

In [41]:
fib[3] = "whoops"     # Replace
fib

[1, 1, 2, 'whoops', 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [42]:
del fib[:6]
fib

[8, 13, 21, 34, 55, 89, 144]

In [43]:
fib[1::2] = [-1, -1, -1] 
fib

[8, -1, 21, -1, 55, -1, 144]

The same multiplication-by-an-integer trick for strings also applies to lists:

In [44]:
[1, 2, 3] * 6

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

You can also create lists of characters directly from strings by using the `list()` conversion
function:

In [52]:
list("F = dp/dt")   # Including spaces, all spaces

['F', ' ', '=', ' ', 'd', 'p', '/', 'd', 't']

Another fascinating property is that a list will infinitely recurse if you add it to itself!

In [46]:
x = []
x.append(x)
x

[[...]]

In [47]:
x[0]

[[...]]

In [48]:
x[0][0]

[[...]]

To explain how this is possible, we’ll need to explore of how Python manages memory.
Python is <em><strong>reference counted</strong></em>, which means that variable names are actually references
to the underlying values. The language then keeps an internal count of how
many times a reference has been used and what its names are.

Example:

In [49]:
x = 42   # Python starts by first creating the number 42 in memory. 
         # It sets the name x to refer to the point in memory where 42 lives.    
y = x    # It sees that y should point to the same place that x is pointing to
del x    # x is deleted, but so it keeps both y and 42 around for later use.

What about lists?
- Lists are collections of names, not values.
- The name a list gives to each of its elements is the integer index of that element.
- The list itself also has a name. 
- This means that when a list itself has two or more variable names and any of them has an element changed, then all of the other variables also see the alteration.

Example:

In [54]:
x = [3, 2, 1, "blast off!"]
y = x
y[1] = "TWO"  # When y’s second element is changed to the string 'TWO', this change is reflected back onto x. This is because there is only one list in memory, even though there are two names for it (x and y).
print(x)
del x
print(y)

[3, 'TWO', 1, 'blast off!']
[3, 'TWO', 1, 'blast off!']

## Tuples

Tuples are the immutable form of lists. They behave almost exactly the same as lists in every way, except that 

- you cannot change any of their values. 
- There are no `append()` or `extend()` methods, 
- and there are no in-place operators.
- tuples are defined by commas (`,`)
- tuples will be seen surrounded by parentheses. These parentheses serve only to group actions or make the code more readable, not to actually define the tuples.

In [63]:
a = 1, 2, 5, 3  # length-4 tuple
b = (42,)       # length-1 tuple, defined by comma
c = (42)        # not a tuple, just the number 42
d = ()          # length-0 tuple- no commas means no elements
type(d)

tuple

You can concatenate tuples together in the same way as lists, but be careful about the
order of operations. This is where the parentheses come in handy:

In [ ]:
(1, 2) + (3, 4)

In [64]:
1, 2 + 3, 4    # it carries out 2 + 3 = 5, then makes a tuple.

(1, 5, 4)

If you have a list that you wish to make immutable, use the function `type()`:

In [ ]:
tuple(["e", 2.718])

Note that even though tuples are immutable, they may have mutable elements. Suppose
that we have a list embedded in a tuple. This list may be modified in-place even
though the list may not be removed or replaced wholesale:

In [1]:
x = 1.0, [2, 4], 16
x[1].append(8)
x

(1.0, [2, 4, 8], 16)

## Sets
Instances of the set type are equivalent to mathematical sets. Like their math counterparts,
literal sets in Python are defined by comma-separated values between curly
braces (`{}`). Sets are unordered containers of unique values. Duplicated elements are
ignored.

In [14]:
# a literal set formed with elements of various types
{1.0, 10, "one hundred", (1, 0, 0,0)}

{1.0, 10, 'one hundred', (1, 0, 0, 0)}

In [5]:
# a literal set of special values
{True, False, None, "", 0.0, 0}

{False, True, None, ''}

In [6]:
# conversion from a list to a set
set([2.0, 4, "eight", (16,)])

{'eight', 2.0, (16,), 4}

In [7]:
# Repetition is ignored
{1.0, 1.0, "one hundred", (1, 0, 0,0)}

{1.0, 'one hundred', (1, 0, 0, 0)}

In [3]:
# 1 and 1.0 are considered repetition
{1.0, 1, "one hundred", (1, 0, 0,0)}

{1.0, 'one hundred', (1, 0, 0, 0)}

The set of a string is actually the set of its characters. This is because strings
are sequences,

In [8]:
set("Marie Curie")

{' ', 'C', 'M', 'a', 'e', 'i', 'r', 'u'}

To have a set that actually contains a single string, first put the string
inside of another sequence:

In [9]:
set(["Marie Curie"])

{'Marie Curie'}

Sets may be used to compute other sets or be compared against other sets.

In [29]:
s={1,2,3,6}
t={3,4,5}
s | t        # Union

{1, 2, 3, 4, 5, 6}

In [30]:
s & t        # Intersection

{3}

In [31]:
s - t        # Difference - elements in s but not in t

{1, 2, 6}

In [33]:
s ^ t        # Symmetric difference - elements in s or t but not both

{1, 2, 4, 5, 6}

In [34]:
s < t        # Strict subset - test if every element in s is in t but not every element in t is in s

False

In [34]:
s <= t        # Subset - test if every element in s is in t.

False

In [35]:
hash([3])

TypeError: unhashable type: 'list'

## Dictionaries

Dictionaries are hands down the most important data structure in Python. Everything
in Python is a dictionary. A dictionary, or `dict`, is a mutable, unordered collection of unique key/value pairs. 

In a dictionary, keys are associated with values. This means that you can look up a
value knowing only its key(s).
The keys in a dictionary must
e unique. However, many different keys with the same value are allowed.

As with lists, you can store anything
you need to as values. Keys, however, must be hashable (hence the name “hash
table”).

Like the sets, dictionaries are defined by
outer curly brackets (`{}`) surrounding key/value pairs that are separated by commas
(`,`).
Each key/value pair is known as an item, and the key is separated from the value
by a colon (`:`)

In [59]:
# A dictionary on one line that stores info about Einstein
al = {"first": "Albert", "last": "Einstein", "birthday": [1879, 3, 14]}

# You can split up dicts onto many lines
constants = {
    'pi': 3.14159,
    "e": 2.718,
    "h": 6.62606957e-34,
    True: 1.0,
    }

# A dict being formed from a list of (key, value) tuples
axes = dict([(1, "x"), (2, "y"), (3, "z")])
print(axes)

{1: 'x', 2: 'y', 3: 'z'}

In [60]:
# You pull a value out of a dictionary by indexing with the associated key.
constants['e']

2.718

In [61]:
axes[3]

'z'

In [62]:
al['birthday']

[1879, 3, 14]

In [63]:
constants[False] = 0.0
print(constants)
del axes[3]
print(axes)
al['first'] = "You can call me Al"
print(al)

{'pi': 3.14159, 'e': 2.718, 'h': 6.62606957e-34, True: 1.0, False: 0.0}
{1: 'x', 2: 'y'}
{'first': 'You can call me Al', 'last': 'Einstein', 'birthday': [1879, 3, 14]}

Because dictionaries are mutable, they are not hashable themselves, and you cannot
use a dictionary as a key in another dictionary. You may nest dictionaries as values,
however.

In [67]:
d = {}
d['d'] = d
d['e'] = d
d

{'d': {...}, 'e': {...}}

In [68]:
{}     # define empty dict
set()  # define empty set

set()

In [ ]:
# Tests for containment with the in operator function only on dictionary keys, not values:
"N_A" in constants

Dictionaries have a lot of useful methods on them as well. For now, content yourself
with the `update()` method. This incorporates another dictionary or list of tuples inplace
into the current dict. The update process overwrites any overlapping keys:

In [69]:
axes.update({1: 'r', 2: 'phi', 3: 'theta'})
axes

{1: 'r', 2: 'phi', 3: 'theta'}

This is only enough to get started. Dictionaries are more important than any other
data type and will come up over and over again. Their special place in the Python
language will be seen in Chapter 5 and Chapter 6.

## Containers Wrap-up

Containers Wrap-up
Having reached the end of this chapter, you should now be familiar with the following
concepts:

- Mutability and immutability
- Duck typing
- Lists and tuples
- Hash functions
- Sets and dictionaries